@import 'vendors/module';
@import 'base/module';
@import 'utils/module';
@import 'themes/module';
@import 'layout/module';
@import 'components/module';
@import 'pages/module';

h3{
  font-size: 40px;
  font-family: sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
  @include responding((font-size: 45px),(font-size: 50px),(font-size: 55px));
}

p{
  margin-top: 5px;
  font-family: sans-serif;
  @include responding((font-size: 20px),(font-size: 25px),(font-size: 30px));
}
a{
  font-family: sans-serif;
  font-weight: bolder;
}
