h3{
  font-size: $head-size;
  font-family: $main-font;
  font-weight: 600;
  margin-bottom: 20px;
  color: $MainColor;
  //@include responding((font-size: $head-size+5px),(font-size: $head-size+10px),(font-size: $head-size+15));
}

p{
  margin-top: 5px;
  font-family: $main-font;
  //@include responding((font-size: $p-size),(font-size: $p-size+5px),(font-size: $p-size+10px));
}
a{
  font-family: $main-font;
  font-weight: bolder;
}
