
$boxes:(bagus: $SecColor,easy-returns: $MainColor,ski-club: $SecColor,year-warranty: $MainColor);
@each $box,$color in $boxes{
  .#{"box-"+$box}{
     @extend .box;
     @include cover-image('../images/#{$box}.jpg',$box-cover);
     h3{
       color: $color;
     }
     p{
       color:$color;
     }
    }
}
